@charset "UTF-08";

*{ margin: 0; padding: 0; box-sizing: border-box;}


@media (min-width:600px) and (max-width:728px){
    #image_id{
    display: none;
    }

    #image_label{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.568) inset; padding: 5px; border-radius: 50%; height: 50px; width: 50px; margin-top: 10px; cursor: pointer; background-color: rgba(128, 0, 128, 0.358); display: flex; justify-content: space-between; flex-flow: row;
    }
    & #image_icon{
        margin: auto;  padding-bottom: 1px; color:  white;
    }

    form > #span-spassw{
        background-color: rgb(128, 0, 34); width: 100%; display: flex; align-items: center; justify-content: center;
    }

    form > button{
    margin-top: 10px; margin-bottom: 10px; padding: 1%; background-color: rgba(128, 0, 128, 0.358); box-shadow: 1px -4px 5px rgba(0, 0, 0, 0.568) inset; border: none; border-radius: 2px;
    }
}