@charset "UTF-08";

*{ margin: 0; padding: 0; box-sizing: border-box;}

body{
    background-image: linear-gradient(to bottom, #FF4133, #FFC24A); background-attachment: fixed;
}

@media (max-width:600px){
    #image_id{
    display: none;
    }

    #image_label{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.568) inset; padding: 5px; border-radius: 50%; height: 50px; width: 50px; margin-top: 10px; cursor: pointer; background-color: rgba(128, 0, 128, 0.358); display: flex;
    }
    & #image_icon{
        margin: auto;  padding-bottom: 1px; color:  white;
    }
}